html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #202020;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
}

body {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

h1 {
  color: #fff;
  margin: 0;
  font-weight: 300;
}

p {
  margin: 0;
  text-align: end;
}

canvas {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: auto;
}

input {
  position: relative;
  margin-left: 0.5rem;
}

.options {
  display: flex;
  flex-direction: column;
  margin: auto;
  box-sizing: border-box;
  padding: 1rem;
  color: #fff;
  width: max-content;
  align-items: flex-end;
}

label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.25rem 1rem;
  text-transform: capitalize;
  user-select: none;
}

@media screen and (max-width: 402px) {
  .options {
    align-items: center;
  }

  label {
    flex-direction: column;
  }

  canvas {
    border-width: 1px 0;
  }

  p {
    padding: 0 1rem;
  }
}